// .map-container{
//     width: 100%;
//     height: 400px;

//     .mapboxgl-ctrl-attrib-inner{
//         display: none;
//     }
// }

// .map {
//   height: 500px;

//   .leaflet-container {
//     height: 100%;
//     z-index: 0;
//   }
// }

.map-container {
  height: 500px;
  }

.mapboxgl-popup-content{
.stops.info{
  width: 250px;

  image{
   max-width: 100%;
  }
}
}

.e-marker {
  transform-origin: bottom center;
  cursor: pointer;
  
  &__marker {
    fill: #fff;
  }
  
  &__icon {
    fill: #fff;
  }
  
  &__image {
    transform: scale(0);
    transform-origin: 50% 50%;
  }
  
  &__circle {
    display: none;
  }
  
  &__text {
    font-size: 12px;
    font-family: brandon-grotesque, sans-serif;
    text-align: center;
    opacity: 0;
    color: #fff;
    fill: #fff;
    transform-origin: 50% 50%;
    // Center SVG text
    alignment-baseline: middle;
    text-anchor: middle;
  }  
}


