
.map-container {
  .mapboxgl-canvas{
    width: 100%;
  }
  height: 500px;

  }

.mapboxgl-popup-content{
  width: 270px;
.stops-info{
  width: 250px;
  img{
   max-width: 100%;
  }
}
}


.map {
  height: 500px;

  .leaflet-container {
    height: 100%;
  }
}

.marker {
  background-color: red;
  background-size: cover;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  cursor: pointer;
}


