.chart_container {
  display: inline-block;
  width: 30%;
  height: 100%;
  padding: 0.5rem;
  border-style: none;
  margin: 1rem;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.chart_conatiner_alter {
  z-index: -1;
  display: inline-block;
  width: 30%;
  height: 100%;
  padding: 0.5rem;
  border-style: none;
  margin: 1rem;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.chart_container_male_female {
  display: inline-block;
  width: 50%;
  height: 100%;
  padding: 0.5rem;
  border-style: none;
  margin: 1rem;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.chart_conatiner_male_female_alter {
  display: inline-block;
  width: 50%;
  z-index: -1;
  height: 100%;
  padding: 0.5rem;
  border-style: none;
  margin: 1rem;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.chart_container_mixed {
    display: inline-block;
    width: 70%;
    height: 100%;
    padding: 0.5rem;
    border-style: none;
    margin: 1rem;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset ;
}

.chart_container_mixed_alter {
  display: inline-block;
  width: 70%;
  z-index: -1;
  height: 100%;
  padding: 0.5rem;
  border-style: none;
  margin: 1rem;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}
