body {
     &.dark{
  
        background-color: $dark-body-background;
        color: $dark-font-color;

        .header{
            background: $dark-card-background;

            input{
                background: inherit;
            }
        }
  

        #sidebar .pro-sidebar-layout{
            background: $dark-card-background;
           .menu-icon{ color: #fdfdfd; }

        }
        .card {
            background: $dark-card-background;
        }

        &.text-light{
            color:#fdfdfd;;
        }
}

.text-dark{
    color: $dark-font-color;
}
}