
//$body-color: #f8f8f8;

//color variables
$primary-color: #3F51B5;
$secondary-color: #f73164;
$info-color : #7366ff;


//dark layout variables
$dark-body-background: #1d1e26;
$dark-card-background: #262932;
$dark-small-font-color: #98a6ad;
$dark-font-color:rgba(255, 255, 255, 0.7);